*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
}
.navbar{
     display:flex;
     background-color: #222;
     color:white;
     padding: 15px 20px;
     
     align-items: center;
     justify-content: space-between;

}
.logo{
     font-size: 1.5rem;
     font-weight: bold;

}
.nav-links{
     
     list-style:none ;
     display:flex;
}   
.nav-links li{
     margin: 0 15px;
}      
.nav-links li a{
     color:white;
     text-decoration: none;
     font-size: 1rem;
}  
.actions a{
     color:white;
     text-decoration: none;
     margin-left: 15px;
     font-weight: bold;
}  

/* Responsive Design */
/*for mobile */
@media (max-width:768px){
     .nav-links{
          display: none;
     }
     
     .actions a{
          font-size: 0.9rem;
     }
}
/*for tablets */
@media (min-width:769px) and (max-width:1024px){
     .nav-links a{
          font-size: 0.9rem;
     }
}
/*for desktops*/
@media (min-width:1025px){   
     .nav-link a{
          font-size: 1rem;
     }
}