.sub {

  background-color: #CC0000; 
  color: white;             
  font-weight: bold;     
  font-size: 14px;          
  font-family: Arial, sans-serif; 
  text-transform: uppercase; 


  padding: 15px 10px ;        
  border: none;             
  border-radius: 4px;        
  line-height: 0;          

   cursor: grabbing;        
  transition: background-color 0.5s; 

.sub:hover{
  background-color: #000000; 

